button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.Calculator{
    background-color: hsl(0, 0%, 15%);
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;

}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: rgb(248, 162, 3);
}

.operator-btn:hover{
    background-color: rgb(241, 183, 76);
}

.operator-btn:active{
    background-color: rgb(143, 109, 45);
}